
<div class="container" >
  <mat-list fxFlex>


    <mat-list-item *ngFor="let ingresso of ingressos" >
      <img matListAvatar src={{ingresso.imagem}} alt={{ingresso.horario}} >
      <h1 matLine>id: {{ingresso.id}} </h1>
      <p matLine>
         <span>Preço: {{ingresso.preco}}</span>
      </p>
    </mat-list-item>



  </mat-list>

</div>

<app-detalhes-ingressos></app-detalhes-ingressos>
<!-- <div fxFlex *ngIf="selectedIngressos">
  Igressos Selecionados
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>{{selectedIngressos.id | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img width="35px" mat-card-image src={{selectedIngressos.imagem}} alt={{selectedIngressos.id}}>
    <mat-card-content>
      <p>{{selectedIngressos.dia}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div> -->
