<div class="container" *ngIf="ingresso">

  <div fxFlex="40">
    <img width="800px" mat-card-avatar src={{ingresso.imagem}}>
  </div>

  <div fxFlex="40">
    <div *ngIf="ingresso">
      <mat-card>
        <mat-card-title>
          Id: {{ingresso.id}}
        </mat-card-title>
        <mat-card-content *ngFor="let comentarios of ingresso.comentario">
          <mat-card-subtitle>
            nota: {{comentarios.rating}}
            coments: {{comentarios.comment}}
            Autor: {{comentarios.author}}
            Data da postagem {{comentarios.date | date}}
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
